.topnav {
    background: #e30613;
    opacity: 0.9;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    padding: 10px;
}
p, a, li {
    font-size: 17px;
    line-height: 1.6;
}
.swiper-slide {
    padding: 20px;
}
h2{
    text-align: center;
}
h4 {
    text-align: center;
    margin-top: 40px;
}
a:focus {
    outline: 0 none !important;
}
.horizontal-item-wrap {
    margin-bottom: 25px;
    color: #000;
    display: block;
    height:230px;
}
.float {
    border-right: 3px dashed #eee;
}

.inlineblock .col-sm-4,
.inlineblock .col-sm-8,
.inlineblock .col-sm-6{
    float: none;
    display: inline-block;
    vertical-align: top;
}
.inlineblock .col-sm-8 {
    margin-left: -4px;
}
.content-wrap {
    background: #eee;
}
.example-item {
    border-radius: 15px;
    width: 20%;
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding: 15px;
    margin-bottom: 5px;
}
.green {
    background: #78caa3;
    height: 150px;
}
.blue {
    background: #78c5ca;
    height: 200px;
}
.yellow {
    background: #d2d38a;
    height: 70px;
}
.red {
    background: #eda4a4;
    height: 100px;
}
.row-of-items {
    background: #eee;
    padding: 10px;
    display: block;
    color: #fff;
    line-height: 21px;
    /*height: 220px;*/
}
.inlineblock .example-item {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}
.float .example-item {
    float: left;
}
.popover {
    width: 200px;
}
.no-margin-fix .example-item,
.center-block-example .example-item{
    margin-right: 0;
}
.howto {
    border-bottom: 1px dashed #1b6d85;
    color: #1b6d85;
    font-weight: 700;
    margin-right: 10px;
    display: inline-block;
}
.center-block-example {
    text-align: center;
}
.float .center-block-example .example-item {
    width: 100px;
}
.inlineblock.top .example-item {
    vertical-align: top;
}
.inlineblock.middle .example-item {
    vertical-align: middle;
}
.inlineblock.bottom .example-item {
    vertical-align: bottom;
}
.justify.inlineblock {
    text-align: justify;
}
.justify .row-of-items:after {
    content: " ";
    width: 100%;
    display: inline-block;
}
.summary-list {
    list-style-type: square;
    font-size: 18px;
}
.summary-list li {
    padding-top: 20px;
}
.summary-wrap {
    margin-top: 15%;
}
.heading-list-el {
    font-weight: 700;
}
.heading-list-el:before {
    content: "\2022";
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: -5px;
    margin-left: -10px;
    color: #e30613;
}
.well {
    margin-top: 10px;
}
.highlight {
    color: #e30613;
    font-weight: 700;
}
.arrows {
    text-align: center;
    font-weight: 700;
}
.arrows:before {
    content: "\02199";
}
.arrows:after {
    content: "\02198";
}
.arrows:before, .arrows:after {
    position: relative;
    top: 35px;
    font-size: 45px;
    font-weight: 700;
    color: #e30613;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
}